@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	outline: none;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

:root {
	/* primary */
	--scissor-gradient: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	--paper-gradient: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	--rock-gradient: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));

	/* neutral */
	--dark-text: hsl(229, 25%, 31%);
	--score-text: hsl(229, 64%, 46%);
	--header-outline: hsl(217, 16%, 45%);

	/* background */
	--radial-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	background-image: var(--radial-gradient);
	min-height: 100vh;
	margin: 0 auto;
	padding: 3rem 0;
	position: relative;
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70rem;
	height: 15rem;
	border: .3rem solid var(--header-outline);
	border-radius: 2rem;
	margin: 0 auto;
	padding: 2.5rem 3.5rem;
}

.score-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(241, 241, 241, 1);
	border-radius: .5rem;
	color: var(--score-text);
	font-weight: 700;
	letter-spacing: .3rem;
	height: 11.3rem;
	width: 20rem;
}
.score-container .score-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.score-container .score-wrapper .score {
	color: var(--dark-text);
	font-size: 5rem;
	letter-spacing: normal;
}

.play-container {
	color: #fff;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: .2rem;
	height: 56rem;
	width: 70rem;
	margin: auto;
	position: relative;
	margin-top: 5rem;
}
.play-container::before {
	content: "";
	background: url("images/bg-triangle.svg") no-repeat center center;
	height: inherit;
	opacity: 1;
	position: absolute;
	width: inherit;
}

.play-container.fadeOut::before {
	transition: opacity 1s ease;
	opacity: 0;
}

.pick-text {
	display: flex;
	justify-content: space-between;
	padding: 7.5rem 9rem 0;
	position: absolute;
	width: 100%;
	opacity: 0;
}

.pick-text.show-text {
	transition: opacity 1s ease;
	opacity: 1;
}

.house-pick {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #182341;
	border-radius: 100%;
	height: 18rem;
	width: 18rem;
	position: absolute;
	left: 63%;
	top: 17rem;
	opacity: 0;
}
.house-pick.show-text {
	transition: opacity 1s ease .5s, left 1s ease;
	opacity: 1;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	box-shadow: inset 0 -.5rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(187, 187, 187, 0.6),
		0 0 0 0 rgba(187, 187, 187, 0.6);
	border: .1rem solid rgba(0, 0, 0, 0.5);
	height: 18rem;
	position: absolute;
	transform-origin: center;
	width: 18rem;
	z-index: 5;
}

.rock {
	background-image: var(--rock-gradient);
	left: 25rem;
	top: 28.8rem;
}

.paper {
	background-image: var(--paper-gradient);
	left: 11rem;
	top: 6rem;
}

.scissor {
	background-image: var(--scissor-gradient);
	left: 39rem;
	top: 6rem;
}

.circle::before {
	content: "";
	border-radius: 100%;
	border: .1rem solid rgba(55, 55, 55, 0.2);
	background-color: #f5f5f5;
	box-shadow: inset 0 .5rem 0 rgba(107, 107, 107, 0.3);
	height: 13rem;
	position: absolute;
	width: 13rem;
}
.circle img {
	pointer-events: none;
	transform-origin: bottom;
	z-index: 5;
}
.choice-image {
	height: 7.5rem;
	width: 6.5rem;
}

.circle:hover {
	animation: pump-shadow 2s ease infinite;
}
.circle:hover img {
	animation: shake-up 2s ease infinite;
}

.circle.hideChoices {
	transition: opacity 1s ease;
	opacity: 0;
	pointer-events: none;
}

.circle.go-left {
	transition: all 1s ease;
	left: 6rem;
	top: 17rem;
	transform: scale(1.2);
}

.circle.go-left:hover {
	animation: none;
}

.circle.circle.go-right {
	position: static;
	transform: scale(1.2);
}

.circle.circle.go-right:hover {
	animation: none;
}

.final-left {
	left: -4rem !important;
}

.final-right {
	left: 79% !important;
}

.shadow-winner {
	animation: shadow 2s ease infinite;
}

.result {
	color: #f5f5f5;
	font-size: 3.5rem;
	font-weight: 700;
	left: 50%;
	letter-spacing: .1rem;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 45%;
	text-align: center;
	transform: translateX(-50%);
	z-index: 10;
}
.result button {
	background-color: #f5f5f5;
	border-radius: .4rem;
	border: none;
	cursor: pointer;
	display: block;
	color: #b64058;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: .1rem;
	height: 5rem;
	margin-top: 1rem;
	transform: scale(1);
	width: 22rem;
	z-index: 15;
}
.result button:hover {
	animation: pump-button 1s ease infinite;
}

.result.show {
	transition: opacity 0.5s ease 1.5s;
	opacity: 1;
	pointer-events: all;
}

.rule-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: .2rem solid #fff;
	border-radius: .5rem;
	cursor: pointer;
	color: #fff;
	font-size: 1.6rem;
	letter-spacing: .3rem;
	height: 4rem;
	width: 10rem;
	margin: 0 5rem 0 auto;
	transition: border-color .3s ease;
}
.rule-button:hover {
	border-color: #b3b3b3;
}

.rule-button:hover > span:nth-child(1) {
	animation: letter-wave 1s ease infinite;
}

.rule-button:hover > span:nth-child(2) {
	animation: letter-wave 1s ease .2s infinite;
}

.rule-button:hover > span:nth-child(3) {
	animation: letter-wave 1s ease .4s infinite;
}

.rule-button:hover > span:nth-child(4) {
	animation: letter-wave 1s ease .6s infinite;
}

.rule-button:hover > span:nth-child(5) {
	animation: letter-wave 1s ease .8s infinite;
}

.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
}

.modal-container.show-modal {
	opacity: 1;
	pointer-events: all;
	transition: all 1s;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 1rem;
	height: 40rem;
	width: 40rem;
	padding: 2rem;
	position: relative;
	overflow: hidden;
}

.modal .rules {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal .rules h2 {
	color: var(--dark-text);
	font-size: 3rem;
}

.modal .rules .close-rule {
	cursor: pointer;
	transition: transform .3s ease;
}

.modal .rules .close-rule:hover {
	transform: scale(1.2);
}

.modal .image-rule {
	display: block;
	margin: auto auto 0;
	pointer-events: none;
}

/* animations */

@keyframes pump-shadow {
	0% {
		transform: scale(0.95);
	}
	15% {
		transform: scale(1);
	}
	65% {
		box-shadow: inset 0 -.5rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0),
			0 0 0 3.5rem rgba(99, 99, 99, 0);
	}
	100% {
		box-shadow: inset 0 -.5rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0),
			0 0 0 3.5rem rgba(187, 187, 187, 0);
	}
}

@keyframes shake-up {
	0%,
	100% {
		transform: rotate(0deg);
	}
	10%,
	30%,
	50% {
		transform: rotate(10deg);
	}
	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}
}

@keyframes pump-button {
	50% {
		transform: scale(1.05);
	}
}

@keyframes letter-wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-60%);
	}
}

@keyframes shadow {
	65% {
		box-shadow: inset 0 -.5rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0),
			0 0 0 3.5rem rgba(99, 99, 99, 0);
	}
	100% {
		box-shadow: inset 0 -.5rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0),
			0 0 0 3.5rem rgba(187, 187, 187, 0);
	}
}

/* responsive */

@media (max-width: 720px) {
	body {
		padding: 3rem 1.5rem;
	}
	.heading {
		width: 100%;
		padding: 0 3rem;
	}
	.play-container {
		width: 38rem;
		font-size: 1.6rem;
		letter-spacing: 0;
	}
	.pick-text {
		padding: 0 2rem;
		top: 8rem;
	}
	.circle {
		box-shadow: inset 0 -.35rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(187, 187, 187, 0.6),
			0 0 0 0 rgba(187, 187, 187, 0.6);
		height: 12rem;
		width: 12rem;
	}
	.circle::before {
		box-shadow: inset 0 0.35rem 0 rgba(107, 107, 107, 0.3);
		height: 10rem;
		width: 10rem;
	}
	.choice-image {
		height: auto;
		width: auto;
	}
	.paper {
		left: 0;
		top: 10rem;
	}
	.scissor {
		left: 25rem;
		top: 10rem;
	}
	.rock {
		left: 13rem;
		top: 30rem;
	}
	.house-pick {
		height: 12rem;
		top: 15rem;
		width: 12rem;
	}
	.rule-button {
		margin: 0 auto 2rem;
		transform: none;
	}
	.circle.go-left {
		left: 0rem;
		top: 15rem;
	}
}

@media (max-width: 510px) {
	.final-left {
		left: 0rem !important;
	}

	.final-right {
		left: 63% !important;
	}
	.result {
		top: 55%;
	}
}

@media (max-width: 480px) {
	.heading > img {
		width: 10rem;
	}
	.score-container {
		height: 8rem;
		width: 15rem;
	}
	.score-container .score-wrapper .score {
		font-size: 3rem;
	}
	.modal {
		height: 35rem;
		width: 35rem;
	}
	.modal .image-rule {
		width: 25rem;
	}
	.result {
		top: 42rem;
	}
}

@media (max-width: 390px) {
	.heading {
		padding: 0 1.5rem;
		height: 10rem;
	}
	.heading > img {
		width: 8rem;
	}
	.score-container {
		height: 6rem;
		width: 12rem;
	}
	.score-container .score-wrapper .score {
		font-size: 1.6rem;
	}
	.play-container {
		width: 30rem;
		height: 35rem;
	}
	.play-container::before {
		background-size: 20rem 17rem;
	}
	.circle {
		height: 8rem;
		width: 8rem;
	}
	.circle::before {
		height: 6rem;
		width: 6rem;
	}
	.choice-image {
		height: 4rem;
		width: 4rem;
	}
	.paper {
		left: 3rem;
		top: 7rem;
	}
	.scissor {
		left: 18rem;
		top: 7rem;
	}
	.rock {
		left: 11rem;
		top: 19rem;
	}
	.house-pick {
		height: 8rem;
		top: 15rem;
		width: 8rem;
	}
	.result {
		font-size: 2.5rem;
		top: 25rem;
	}
	.result button {
		font-size: 1.4rem;
		width: 20rem;
	}
	.circle.go-left {
		left: 2rem;
		top: 15rem;
	}
	.final-left {
		left: 2rem !important;
	}
}

@media (max-width: 360px) {
	.modal {
		height: 30rem;
		width: 25rem;
	}
	.modal .image-rule {
		width: 20rem;
	}
}

@media (max-width: 320px) {
	body {
		padding: 1rem .5rem;
	}
	.heading > img {
		width: 6rem;
	}
	.score-container {
		height: 5rem;
		width: 10rem;
	}
	.score-container .score-wrapper p {
		font-size: 1.5rem;
	}
	.score-container .score-wrapper .score {
		font-size: 1.6rem;
	}
	.play-container {
		width: 20rem;
	}
	.play-container::before {
		background-size: 17rem 14rem;
	}
	.paper {
		left: -1rem;
		top: 7rem;
	}
	.scissor {
		left: 13rem;
		top: 7rem;
	}
	.rock {
		left: 6rem;
		top: 19rem;
	}
}
@media (max-width: 315px) {
	.play-container {
		font-size: 1.3rem;
	}
	.pick-text {
		gap: 5rem;
	}
	.circle {
		height: 6rem;
		width: 6rem;
	}
	.house-pick {
		height: 6rem;
		top: 15rem;
		width: 6rem;
	}
	.circle::before {
		height: 4rem;
		width: 4rem;
	}
	.choice-image {
		height: 2rem;
		width: 2rem;
	}
	.paper {
		left: 1rem;
		top: 8rem;
	}
	.scissor {
		left: 13rem;
		top: 8rem;
	}
	.rock {
		left: 7rem;
		top: 19rem;
	}
	.result button {
		width: 15rem;
	}
	.modal {
		height: 25rem;
		width: 20rem;
	}
	.modal .image-rule {
		width: 17rem;
	}
	.circle.go-left {
		left: 1rem;
	}
	.final-left {
		left: 1rem !important;
	}
}
